<p>product works!</p>
<h1> {{title}} </h1>
<div class="row" >
  <div class="col-md-4" style="width: 18rem;" *ngFor="let p of listProduct;">
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{p.title}}</h5>
      <p class="card-text">{{p.id}}</p>
      <p class="card-text">{{p.price}}</p>
      <p class="card-text">{{p.quantity}}</p>
      <p class="card-text">{{p.like}}</p>

      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>

</div>
